<div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="draw" name="edit-mode" type="radio" value="draw-area" checked="checked">
    <label class="govuk-label govuk-radios__label" for="draw">
      Draw area
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="edit" name="edit-mode" type="radio" value="edit-area">
    <label class="govuk-label govuk-radios__label" for="edit">
      Edit area
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="delete" name="edit-mode" type="radio" value="delete-area">
    <label class="govuk-label govuk-radios__label" for="delete">
      Delete area
    </label>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-top-2 govuk-!-padding-bottom-2">

<p class="govuk-!-padding-top-4">
  <a href="#" class="hse-link" style="color:#981e32;">View map full screen</a>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-1">

<div class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">

  <div class="govuk-button-group">
    <button id="undoBtn" class="hse-button hse-button--secondary hse-u-margin-right-3" data-module="govuk-button" disabled>
      Undo
    </button>
    <br />
    <button id="clearAllBtn" class="hse-button hse-button--secondary" data-module="govuk-button">
      Clear all
    </button>
  </div>

  <div class="govuk-button-group">
    <a href="/check-development-details" class="hse-button" data-module="govuk-button">
      Continue
    </a>
  </div>

</div>