<footer id="footerContainer" class="hse-footer">

<div id="baseStrip" class="hse-footer__base">
    <div class="hse-width-container">
      <div class="hse-footer__base-container">
        <div class="hse-footer__base-inner">
					<h2 class="visually-hidden">Support links</h2>
          <ul class="hse-footer__support-links">
            <li class="hse-footer__list-item hse-footer__list-item--support-links"><a class="hse-footer__list-item-support-link" href="search/search-results.htm">Search</a></li>
            <li class="hse-footer__list-item hse-footer__list-item--support-links"><a class="hse-footer__list-item-support-link" href="help/copyright.htm">Copyright</a></li>
            <li class="hse-footer__list-item hse-footer__list-item--support-links"><a class="hse-footer__list-item-support-link" href="help/cookies.htm">Cookies</a></li>
            <li class="hse-footer__list-item hse-footer__list-item--support-links"><a class="hse-footer__list-item-support-link" href="help/privacy.htm">Privacy</a></li>
            <li class="hse-footer__list-item hse-footer__list-item--support-links"><a class="hse-footer__list-item-support-link" href="help/accessibility.htm">Accessibility</a></li>
            <li class="hse-footer__list-item hse-footer__list-item--support-links"><a class="hse-footer__list-item-support-link" href="foi/index.htm">Disclosure of information</a></li>
            <li class="hse-footer__list-item hse-footer__list-item--support-links"><a class="hse-footer__list-item-support-link" href="help/report-vulnerability.htm">Vulnerability disclosure</a></li>
            <li class="hse-footer__list-item hse-footer__list-item--support-links"><a class="hse-footer__list-item-support-link" href="https://consultations.hse.gov.uk">Consultations</a></li>
            <li class="hse-footer__list-item hse-footer__list-item--support-links"><a class="hse-footer__list-item-support-link" href="languages/index.htm">Other languages</a></li>
          </ul>
          <div>
            <svg aria-hidden="true" focusable="false" class="hse-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
              <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
            </svg>
            <p class="hse-footer__licence-description">All content is available under the Open <a href="help/copyright.htm">Government Licence v3.0</a>, except where otherwise stated</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End footer -->

</body>
</html>