<section aria-label="Service information" class="hse-service-navigation" data-module="hse-service-navigation">
  <div class="hse-width-container">
    <div class="hse-service-navigation__container">

      <span class="hse-service-navigation__service-name">
        <a href="/" class="hse-service-navigation__link">Service name</a>
      </span>

      <nav aria-label="Menu" class="hse-service-navigation__wrapper">
        <button type="button" class="hse-service-navigation__toggle hse-js-service-navigation-toggle" aria-controls="navigation" hidden aria-hidden="true">
          Menu
        </button>

        <ul class="hse-service-navigation__list" id="navigation">
          <li class="hse-service-navigation__item">
            <a href="#" class="hse-service-navigation__link">Navigation item 1</a>
          </li>
          <li class="hse-service-navigation__item">
            <a href="#" class="hse-service-navigation__link">Navigation item 2</a>
          </li>
          <li class="hse-service-navigation__item">
            <a href="#" class="hse-service-navigation__link">Navigation item 3</a>
          </li>
          <li class="hse-service-navigation__item hse-service-navigation__item--active">
            <a href="#" class="hse-service-navigation__link" aria-current="page">
              <strong class="hse-service-navigation__active-fallback">Navigation item 4</strong>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</section>