<option value="" selected disabled>Select an option</option>
<option value="Accommodation centres">Accommodation centres</option>
<option value="Adult education">Adult education</option>
<option value="Airports">Airports</option>
<option value="Art galleries">Art galleries</option>
<option value="Bingo halls">Bingo halls</option>
<option value="BMX tracks">BMX tracks</option>
<option value="Builder’s yards">Builder’s yards</option>
<option value="Bungalows">Bungalows</option>
<option value="Bus stations">Bus stations</option>
<option value="Bus stations">Bus stations</option>
<option value="Cafes">Cafes</option>
<option value="Camping sites">Camping sites</option>
<option value="Car boot sales">Car boot sales</option>
<option value="Car parks">Car parks</option>
<option value="Children’s play areas">Children’s play areas</option>
<option value="Cinemas">Cinemas</option>
<option value="Coach stations">Coach stations</option>
<option value="Coach stations">Coach stations</option>
<option value="College of FE">College of FE</option>
<option value="Community centres">Community centres</option>
<option value="Concert halls">Concert halls</option>
<option value="Conference centres">Conference centres</option>
<option value="Convalescent homes">Convalescent homes</option>
<option value="Crèches">Crèches</option>
<option value="Dance halls">Dance halls</option>
<option value="Day surgeries">Day surgeries</option>
<option value="Dormitories">Dormitories</option>
<option value="Drive-through fast food">Drive-through fast food</option>
<option value="Dual carriageway">Dual carriageway</option>
<option value="Exhibition halls">Exhibition halls</option>
<option value="Facilities associated with golf courses">Facilities associated with golf courses</option>
<option value="Factories">Factories</option>
<option value="Farm buildings">Farm buildings</option>
<option value="Ferry terminals">Ferry terminals</option>
<option value="Ferry terminals">Ferry terminals</option>
<option value="Financial and professional services to the public">Financial and professional services to the public</option>
<option value="Flats">Flats</option>
<option value="Flying clubs">Flying clubs</option>
<option value="Food festivals">Food festivals</option>
<option value="Funfairs">Funfairs</option>
<option value="Funfairs">Funfairs</option>
<option value="Go-kart tracks">Go-kart tracks</option>
<option value="Guest houses">Guest houses</option>
<option value="Halls of residence">Halls of residence</option>
<option value="Haulage depots">Haulage depots</option>
<option value="Health centres">Health centres</option>
<option value="Holiday camps">Holiday camps</option>
<option value="Holiday caravan sites">Holiday caravan sites</option>
<option value="Holiday homes">Holiday homes</option>
<option value="Hospitals">Hospitals</option>
<option value="Hostels">Hostels</option>
<option value="Hotels">Hotels</option>
<option value="Houses">Houses</option>
<option value="Indoor go-kart tracks">Indoor go-kart tracks</option>
<option value="Leisure centres">Leisure centres</option>
<option value="Libraries">Libraries</option>
<option value="Lock-up garages">Lock-up garages</option>
<option value="Marinas">Marinas</option>
<option value="Markets">Markets</option>
<option value="Marquees">Marquees</option>
<option value="Mobile homes">Mobile homes</option>
<option value="Motels">Motels</option>
<option value="Motorway">Motorway</option>
<option value="Museums">Museums</option>
<option value="Non-retail markets">Non-retail markets</option>
<option value="Nurseries">Nurseries</option>
<option value="Nursing homes">Nursing homes</option>
<option value="Offices">Offices</option>
<option value="Old people’s homes with warden on site or ‘on call’">Old people’s homes with warden on site or ‘on call’</option>
<option value="Open-air theatres and exhibitions">Open-air theatres and exhibitions</option>
<option value="Outdoor markets">Outdoor markets</option>
<option value="Park and ride interchange">Park and ride interchange</option>
<option value="Petrol filling station">Petrol filling station</option>
<option value="Picnic areas">Picnic areas</option>
<option value="Picnic sites">Picnic sites</option>
<option value="Playing fields">Playing fields</option>
<option value="Prisons">Prisons</option>
<option value="Pubs">Pubs</option>
<option value="Railway stations">Railway stations</option>
<option value="Railway stations">Railway stations</option>
<option value="Religious buildings">Religious buildings</option>
<option value="Remand centres">Remand centres</option>
<option value="Residential caravans">Residential caravans</option>
<option value="Restaurants">Restaurants</option>
<option value="Retail warehouses">Retail warehouses</option>
<option value="Retirement flats">Retirement flats</option>
<option value="Schools and academies for children up to school leaving age">Schools and academies for children up to school leaving age</option>
<option value="Self-storage units">Self-storage units</option>
<option value="Sheltered housing">Sheltered housing</option>
<option value="Shops">Shops</option>
<option value="Sixth-form college">Sixth-form college</option>
<option value="Small shopping centres">Small shopping centres</option>
<option value="Sports centres">Sports centres</option>
<option value="Sports fields or pitches">Sports fields or pitches</option>
<option value="Sports halls">Sports halls</option>
<option value="Sports stadia">Sports stadia</option>
<option value="Superstores">Superstores</option>
<option value="Theme parks">Theme parks</option>
<option value="Truck parks">Truck parks</option>
<option value="Vehicle dealers">Vehicle dealers</option>
<option value="Viewing stands">Viewing stands</option>
<option value="Warehouses">Warehouses</option>
<option value="Youth hostels">Youth hostels</option>