{% extends "layouts/hse.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block pageTitle %}
  Prototype home
{% endblock %}

{% block content %}

<h1>Example page</h1>

<p class="hse-body-l">This is a lead paragraph introducing the page content. It gives users a summary of what to expect.</p>

<p>This is a standard body paragraph. It contains information relevant to the user and is written in plain English to aid understanding. <a href="#">Read more about this topic</a> on our guidance pages.</p>

<p>This is another paragraph with a <a href="#">standard link</a> included inline within the text to demonstrate link styling. You can also <a href="#">visit our related pages</a> for further information.</p>

<h2>A section heading</h2>

<p>This paragraph sits below a section heading. Use headings to break up content and help users scan the page. <a href="#">Find out more</a> about how we structure our content.</p>

<ul>
  <li>First item in a bulleted list</li>
  <li>Second item with a <a href="#">link inside a list item</a></li>
  <li>Third item in a bulleted list</li>
</ul>

<h2>Another section</h2>

<ol>
  <li>First step in a numbered list</li>
  <li>Second step with a <a href="#">link to guidance</a></li>
  <li>Third step in a numbered list</li>
</ol>

<p>A final paragraph with a <a href="#">closing link</a> to push the content down and test the footer spacing on a page with a reasonable amount of content.</p>   
      
{% endblock %}