{% extends "layouts/hse.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block pageTitle %}
  Prototype home
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Autocomplete test</h1>

<div class="govuk-form-group">
{{ govukSelect({
  id: "country",
  name: "country",
  label: {
    text: "Choose a country"
  },
  items: [
    { value: "", text: "" },
    { value: "france", text: "France" },
    { value: "germany", text: "Germany" },
    { value: "spain", text: "Spain" },
    { value: "italy", text: "Italy" },
    { value: "uk", text: "United Kingdom", selected: true }
  ]
}) }}
</div>

{% endblock %}