{% extends "layouts/hse.html" %}

{% block pageTitle %}
  Page title – {{ serviceName }} – HSE
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="hse-heading-xl">Prototype home</h1>

      <p class="hse-body">
        Use this page to test how the HSE header, footer, breadcrumbs and content styles work with GOV.UK Prototype Kit.
      </p>

      <button class="hse-button">
        Continue
      </button>
    </div>
  </div>

      
{% endblock %}