{% extends "layouts/main.html" %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/v6-css/6.6.0.min.css" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script src="/public/v6-js/main-6.6.0.min.js"></script>

  <!-- Autocomplete library -->
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>

{% endblock %}

{% block head %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,400italic&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/public/images/favicon.ico">
{% endblock %}

{% block header %}
  {% include "includes/hse-header.html" %}
  {% include "includes/hse-service-navigation.html" %}
  {% include "includes/hse-phase-banner.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/hse-back-link.html" %}
{% endblock %}

{% block mainClasses %}govuk-main-wrapper hse-main{% endblock %}

{% block footer %}
  {% include "includes/hse-footer.html" %}
{% endblock %}